<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00326e">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('images/logo_paris1-bleu.svg') }}" width="150" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span class="navbar-text">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        </span>

            <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a class="navbar-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
</nav>

<div>

</div>