{% extends 'base.html.twig' %}
<<<<<<< HEAD

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/js/scheduler.min.css') }}">
{% endblock %}

=======
{% block stylesheet %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet" type="text/css" media="screen,projection" />
   {% endblock %}
>>>>>>> 7faa07141db567845341c9c1f0f2d99565eff37a
{% block body %}

    <div class="container">
        <div class="wrapper">
            {% include '@FullCalendar/Calendar/calendar.html.twig' %}
        </div>

        <!-- Modal -->
        <div id="createEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nouvelle reservation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="inputPatient">Intitule :</label>
                            <div class="field desc">
                                <input class="form-control" id="title" name="title" placeholder="Event" type="text" value="">
                            </div>
                        </div>

                        <input type="hidden" id="startTime"/>
                        <input type="hidden" id="endTime"/>

                        <br>
                        <div class="control-group">
                            <label class="control-label" for="when">Quand ?</label>
                            <div class="controls controls-row" id="when" style="margin-top:5px;">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="submitButton">Valider</button>
                    </div>
                </div>

            </div>
        </div>


        <div id="calendarModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reservation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="modalBody" class="modal-body">
                        <h4 id="modalTitle" class="modal-title"></h4>
                        <div id="modalWhen" style="margin-top:5px;"></div>
                    </div>
                    <input type="hidden" id="eventID"/>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                        <button type="submit" class="btn btn-danger" id="deleteButton">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal-->
        <!--
        <div class="row">
            <div class="col-xs-12">
                <h1><font color="white">Ajouter une réservation ou  <a href="/search">Rechercher une salle</a> </h1>
                {{ form_start(reservation_form) }}
                {{ form_widget(reservation_form) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                {{ form_end(reservation_form) }}

            </div>
        </div>
        -->
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/scheduler.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/fullcalendar.default-settings.js') }}"></script>
{% endblock %}