{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h1>Salle edit</h1>

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <button type="submit" class="btn btn-primary">Editer</button>
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">Supprimer</button>
                {{ form_end(delete_form) }}

                <p>
                    <a class="btn btn-light" href="{{ path('salle_index') }}">Retourner a la liste</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}
