{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Liste des étages</h1>

                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Site</th>
                        <th scope="col">Batiment</th>
                        <th scope="col">Numero etage</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for etage in etages %}
                        <tr>
                            <td><a href="{{ path('etage_show', { 'id': etage.id }) }}">{{ etage.id }}</a></td>
                            <td>{{ etage.batiment.site.libelle }}</td>
                            <td>{{ etage.batiment.libelle }}</td>
                            <td>{{ etage.numEtage }}</td>
                            <td>
                               <a class="btn btn-primary" href="{{ path('etage_show', { 'id': etage.id }) }}">Afficher</a>
                               <a class="btn btn-primary" href="{{ path('etage_edit', { 'id': etage.id }) }}">Editer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>
                    <a class="btn btn-primary" href="{{ path('etage_new') }}">Ajouter un nouvel étage</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
