{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Etage</h1>

                <table>
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ etage.id }}</td>
                    </tr>
                    <tr>
                        <th>Numero Etage</th>
                        <td>{{ etage.numEtage }}</td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    <a class="btn btn-primary" href="{{ path('etage_edit', { 'id': etage.id }) }}">Edit</a>
                </p>
                <p>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                    {{ form_end(delete_form) }}
                </p>
                <p>
                    <a class="btn btn-light" href="{{ path('etage_index') }}">Retourner à la liste</a>
                </p>

            </div>
        </div>
    </div>

{% endblock %}
